<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta name="supported-color-schemes" content="light dark" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title></title>
    <style type="text/css">
        :root {
            color-scheme: light dark;
            supported-color-schemes: light dark;
        }
		
		.email-body > p {
			display: none;
		}

        @media only screen and (max-width: 768px) {
            .email-title {
                font-size: 32px !important;
            }
        }

        @media (prefers-color-scheme: dark) {
            .header-links {
                color: #ffffff !important;
            }

            .mail-text-white {
                color: #ffffff !important;
            }

            .mail-text-always-white {
                color: #ffffff !important;
            }

            .mail-text-always-black {
                color: #000000 !important;
            }

            .mail-bg-always-black {
                color: #333333 !important;
            }

            .mail-bg-offdark {
                background-color: #181818 !important;
            }

            /* icloud only */
            .mail-message-defaults .header-links {
                color: #666666 !important;
            }

            .mail-message-defaults .mail-text-white {
                color: #000000 !important;
            }

            .mail-message-defaults .mail-text-always-white {
                color: #ffffff !important;
            }

            .mail-message-defaults .mail-text-always-black {
                color: #000000 !important;
            }

            .mail-message-defaults .mail-bg-offdark {
                background-color: #f5f5f5 !important;
            }
        }
    </style>
</head>

<body style="margin: 0" class="email-body">
    <table style="max-width: 600px; width: 100%; margin: 0 auto; border-spacing: 0px; font-family: Arial, Helvetica, 'Times New Roman', sans-serif; line-height: 1.6; padding: 20px 0;">
        <tbody>
            <tr style="background-image: url(https://staging.repotics.online/img/mail/xr-email-bg-t.png); background-size: cover;">
                <td style="line-height: normal; padding: 30px 0;"><a href="https://repotics.com/" target="_blank"><img src="https://staging.repotics.online/img/mail/xpend-logo.png" alt="logo" style="width: 210px; border-radius: 8px; margin-left: 20px" /></a></td>
            </tr>

            <tr>
                <td>
                    <div style="display: flex; align-items: center; padding: 20px 10px;">
                        <div style="width: 55%; height: fit-content; margin: auto 0;">
                            <p class="mail-text-white" style="font-size: 20px; margin-top: 0; margin-bottom: 10px;">Dear <%= name %>,</p>
                            <p class="mail-text-white" style="font-size: 16px;">We received a request to reset your password.</p>
                        </div>
                        <div style="width: 45%; text-align: center;"><img src="https://staging.repotics.online/img/mail/xr-reset-ps.png" alt="email_template" style="border-radius: 10px; width: 100%;"/></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="text-align: center;"></div>
                </td>
            </tr>

            <tr>
                <td style="padding: 10px; font-size: 16px;">
                    <p class="mail-text-white" style="margin: 0;">To proceed, please click the link below:</p>
                </td>
            </tr>

            <tr>
                <td style="padding: 10px;">
                    <p class="mail-text-always-black" style="margin: 0;"><a class="mail-text-always-black"
                        href="<%= link %>" target="_blank"
                        style="text-decoration: none; display: inline-block; background: url('https://staging.repotics.online/img/mail/xr-brand-sky-color.png'); border-radius: 8px; padding: 6px 20px; cursor: pointer; color: #000000 !important;"
                        rel="noopener"> <button class="mail-text-always-black"
                            style="display: inline-flex; border: 0; background-color: transparent; text-decoration: none; color: #000000; cursor: pointer; font-size: 16px; font-weight: 500;">Change your password
                        </button> </a></p>
                </td>
            </tr>

            <tr>
                <td style="padding: 10px; font-size: 16px;">
                    <p class="mail-text-white" style="margin: 0;">We recommend keeping your password secure and not sharing it with anyone.</p>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px; font-size: 16px;">
                    <p class="mail-text-white" style="margin: 0;">If you didn't request this change, you can safely ignore this email—your current password will remain unchanged.</p>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px; font-size: 16px;">
                    <p class="mail-text-white" style="margin: 0;">Best regards,</p>
                    <p class="mail-text-white" style="margin: 0;">repotics</p>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin: 10px 0; padding-top: 18px; border-top: 1px dotted #b4b4b4; padding: 0;"></div>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <div><a href="https://repotics.com/" target="_blank"><img src="https://staging.repotics.online/img/mail/xpend-logo.png" alt="logo" style="width: 150px; border-radius: 8px;" /></a></div>
                </td>
            </tr>
            <tr>
                <td style=" padding-left: 10px; text-align: center;">
                    <p style="padding-right: 20px; line-height: 1.6; font-size: 10px;">
                        <a href="https://repotics.com/privacy-policies/" target="_blank" class="header-links" style="text-decoration: underline; color: #808080;">Privacy Policy</a>
                        <span style="color: #808080;">  |  </span>
                        <a href="https://repotics.com/terms-and-conditions/" target="_blank" class="header-links" style="text-decoration: underline; color: #808080;">Terms and Conditions</a>
                        <span style="color: #808080;">  |  </span>
                        <a href="https://repotics.com/contact/" target="_blank" class="header-links" style="text-decoration: underline; color: #808080;">Contact</a>
                        <span style="color: #808080;">  |  </span> <br>
                        <span class="mail-text-white" style="color: #808080; margin: 0; text-align: center; line-height: 1.6; font-size: 10px;">&copy; 2025 - All
                            Rights Reserved.</span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>